### dbt ###
target/
dbt_modules/
dbt_packages/
logs/
package-lock.yml
dbt-service-account.json
dbt_internal_packages/

### VisualStudioCode ###
.vscode/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

.DS_Store
